<%- include ../partials/header.ejs %>
<section class='header'>
  <div class='jumbotron jumbo-header'>
    <h1 class='display-1'>Recipes</h1>
  </div>
</section>
<section class='btn-row d-flex justify-content-center'>
  <a class='btn btn-primary btn-space' href='/recipes/new'>Add a New Recipe</a>
  <button class='btn btn-primary btn-space' id='search-btn'>Search</button>
</section>
<section id='search-row'>
  <form action='/recipes/search/name' method='GET'>
    <input type='text' name='name' id='search-input' class='text-center'>
    <button type='submit' class='btn btn-primary'><i class="fas fa-search fa-2x"></i></button>
  </form>
</section>
<section class='container card-container'>
  <% if (recipes.length<1) { %>
    <h1 class='text-center'>Looks like you haven't saved any recipes! You can browse recipes <a href='/recipes'>here!</a></h1>
  <% } %>
  <% recipes.forEach(recipe=> { %>
    <div class="card shadow-sm">
      <img src="<%=recipe.photo%>" class="card-img-top" alt="<%=recipe.name%>">
      <div class="card-body">
        <h5 class="card-title"><%=recipe.name%></h5>
        <p class="card-text"><%=recipe.forks.length%> forks</p>
        <a href="/recipes/<%=recipe._id%>" class="btn btn-primary">See Details</a>
      </div>
    </div>
  <% }) %>
</section>
<script src='/javascripts/search.js' defer></script>
<%- include ../partials/footer.ejs %>