<%- include ../partials/header.ejs %>
<section class='header'>
  <div class='jumbotron jumbo-header'>
    <h1 class='display-1'>Recipes</h1>
  </div>
</section>
<a class='btn btn-primary' href='/recipes/new'>Add a New Recipe!</a>
<section class='container card-container'>
  <% if (recipes.length<1) { %>
    <h1>Looks like you haven't saved any recipes here! You can browse recipes <a href='/recipes'>here!</a></h1>
  <% } %>
  <% recipes.forEach(recipe=> { %>
    <div class="card">
      <img src="<%=recipe.photo%>" class="card-img-top" alt="<%=recipe.name%>">
      <div class="card-body">
        <h5 class="card-title"><%=recipe.name%></h5>
        <p class="card-text"><%=recipe.forks.length%> forks</p>
        <a href="/recipes/<%=recipe._id%>" class="btn btn-primary">See Details</a>
      </div>
    </div>
  <% }) %>
</section>
<%- include ../partials/footer.ejs %>