<%- include ../partials/header.ejs %>
<section class='header'>
    <div class='jumbotron jumbo-header'>
        <p><%=recipe.name%></p>
    </div>
</section>
<section class='container'>
    <div class='row'>
        <div class='col-xs-12 col-md-6 col-xl-5'>
            <img src="<%=recipe.photo%>" class="detail-shot" alt="<%=recipe.name%>">
        </div>
        <div class='col-xs-12 col-md-6 col-xl-7'>
            <div>
                <h4>Ingredients</h4>
                <ul>
                    <% recipe.ingredients.forEach(ingredient => { %>
                        <li><%=ingredient%></li>
                    <% }) %>
                </ul>
                <h4>Directions</h4>
                <ul>
                    <% recipe.directions.forEach(direction => { %>
                        <li><%=direction%></li>
                    <% }) %>
                </ul>
                <h4>Notes</h4>
                <p><%=recipe.notes%></p>
            </div>
            <% if(recipe.parentRecipe) { %>
                <p>This recipe is forked from <a href='/recipes/<%=recipe.parentRecipe%>'>this recipe</a></p>
            <% } else { %>
                <p>This is an original recipe</p>
            <% } %>
            <% if(recipe.forks) { %>
                <p>This recipe has been forked <%=recipe.forks.length%> times</p>
                <ul>
                    <% recipe.forks.forEach(fork => {%>
                        <li><%= fork.name %>, <%= fork._id%></li>
                    <% }) %>
                </ul>
            <% } %>
    
            <div class='d-flex justify-content-end btn-row'>
                <% if (currentUser && currentUser.recipes.indexOf(recipe._id)>=0)  { %>
                    <form method='post' action='/recipes/<%=recipe._id%>?_method=delete'>
                        <input type='submit' value='Delete' class='btn btn-danger'>
                    </form>
                    <a href="#" class="btn btn-primary">Edit</a>
                <% } %>
                <form method='post' action='/recipes/<%=recipe._id%>/fork'>
                    <input type='submit' value='Fork It' class='btn btn-primary'>
                </form>
                <% if (currentUser && currentUser.recipesToTry.indexOf(recipe._id) >= 0) { %>
                    <button type="button" class="btn btn-primary totry-btn">Already In 'To Try'</button>
                <% } else if (currentUser) { %>
                    <button type="button" class="btn btn-primary totry-btn">Mark as 'To Try'</button>
                <% } %>
            </div>
        </div>
    </div>
</section>
<script src="/javascripts/totry.js" defer></script>
<%- include ../partials/footer.ejs %>